@import '../style.module.scss';

.comment{
    width: 100%;
    min-height: 10rem;
    border-top:0.5rem solid rgba(0,0,0,0.2);
    padding:1rem;
    border-radius: 4rem;
    &_navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        @include desktopHigh{
            padding:0 17rem;
        }
        &_title{
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-family: Playfair Display,serif;
            color:#FF8A08;
        }
        &_button{
            & > button{
                width: 8rem;
                height: 3.5rem;
                background-color: #56CCF2;
                border: none;
                outline: none;
                color:white;
                border-radius: 1rem;
                font-size: 1.4rem;
                cursor: pointer;
                &:active{
                    transform: scale(.9);
                }
            }
        }
    }
    &_input{
        position: relative;
        @include desktopHigh{
            padding:0 15rem;
        }
        &_detail{
            width: 100%;
            min-height: 10rem;
            margin-top: 2rem;
            border:0.5rem solid rgba(0,0,0,0.2);
            padding:0.7rem;
            border-radius: 0.5rem;
            outline: none;
            font-size: 1.7rem;
            font-weight: 430;
            &_abs{
                position: absolute;
                top:1.5rem;
                left:1.5rem;
                font-size: 1.7rem;
                @include desktopHigh{
                    top:1rem;
                    left:16rem;
                }
                z-index: 10;
                color:rgba(0,0,0,0.5);
            }
        }
    }
    &_cards{
        margin-top: 4rem;
    }
}